*{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    background-image: url(images/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
}

.grid-container{
    display: grid;
    text-align: top;
    width: 65px;
    height: 65px;
    margin-left: 10px;
}

.grid-container img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.To-do-app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(7, 41, 0, 0.1);
    padding: 40px 30px 70px;
}

.To-do-app h1{
    color: black;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.To-do-app h1 img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border-radius: 8px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeff0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

#task-input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

#add-task-btn{
    background-color: #4f8000;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul li{
    list-style-type: none;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #888;
    font-size: 22px;
    cursor: pointer;
}

ul li span:hover{
    background: #edeff0;
    border-radius: 50%;
}

ul li::before{
    content: " ";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('images/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
color:#1d540d;
text-decoration: line-through;
}

ul li.checked::before{
    background-image: url('images/checked.png');
}