*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(5, 36, 5), rgb(70, 110, 70));
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: rgb(31, 26, 26);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    color: white;
    cursor: pointer;            
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
    box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.1),
                inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.operator{
    color: orange;
}

form input.equals{
    background-color: orange;
    color: white;
}